.button-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.button-action {
    color: black;
    background-color: white;
    width: 75%;
    height: 95px;
    font-size: 3rem;
}

.button-numbers {
    color: black;
    background-color: white;
    width: 25%;
    height: 95px;
    font-size: 3rem;
    font-weight: bold;
}

.button-symbols {
    color: white;
    background-color: maroon;
    width: 25%;
    height: 95px;
    font-size: 3rem;
}